<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=blog.title%></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Blog</a></li>

                <!-- <li><a href="/logout">Logout</a></li> -->
                <% if(isAuthenticated) {%>

                    <li><button id="logout-button">Logout</button></li>
                <%} else { %>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
        <h1><%= blog.title %></h1>
        <p>By <%= blog.author.username %></p>

    </header>
    <main>
        <article>
            <p><%= blog.content %></p>

        <p>Tags: <%= blog.tags.join(',')%></p>
        <form action="/delete/<%=blog._id %>" method="POST" id="delete-blog-form">
    <button id="submit">Delete Blog</button>
</form>
        <form action="/update/<%=blog._id %>" method="GET" id="update-blog-form">
    <button id="submit">Update Blog</button>
</form>

        </article>
        
        <script>
            function handleLogout(){
                fetch('/logout',{method:'POST'})
                  .then(response=>{
                    if(response.ok){
                        // console.log("logged out");
                       
                        // document.cookie = 'token=; Max-Age=0; path=/';
                        window.location.href='/';
                    }else{
                        console.log('Logout failed');
                    }
                  })
                  .catch(error=>{
                    console.log('Error:',error);
                  });
            }

            document.getElementById("logout-button").addEventListener('click',handleLogout);
        </script>
    </main>   
    <footer>
        <p>Made with love by Disha Sethi</p>
    </footer>

  
  
</body>
</html>

