<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=blog.title%></title>
</head>
<link rel="stylesheet" href="/styles/styles.css">
<link rel="stylesheet" href="/styles/blog.css">
<body>
    <header>
        <nav>
            <div class="menu-icon" id="menu-icon">
              &#9776; 
              <!-- Unicode for hamburger menu-icon -->
            </div>
  
            <div class="menu-backdrop" id="menu-backdrop"></div>
              <ul id="nav-links">
                  <li><a href="/">Wellness Feed</a></li>
                  <li><a href="/profile">My Wellness Space</a></li>
                  <li><a href="/create">Create Reflection</a></li>
                  <% if(isAuthenticated) {%>
  
                      <li><button id="logout-button">Logout</button></li>
                  <%} else { %>
                  <li><a href="/login">Login</a></li>
                  <% } %>
              </ul>
          </nav>
      

    </header>
    
    <main>
       <h1><%= blog.title %></h1>
    <p id="author">By <%= blog.author.username %></p>
        <article>
            <div id="content">
            <p><%= blog.content %></p>

        <p>Tags:</p>
        <ul class="tags-list">
            <% blog.tags.forEach(tag=>{%>
                <li><a ><%= tag %></a></li>
                <%})%>
        </ul>
    </div>
    <% if (isAuthenticated && user && blog.author._id && (user.toString() === blog.author._id.toString())) { %>
        <form action="/delete/<%= blog._id %>" method="POST" id="delete-blog-form">
            <button id="submit">Delete </button>
        </form>
        <form action="/update/<%= blog._id %>" method="GET" id="update-blog-form">
            <button id="submit">Update </button>
        </form>
    <% } %>
    



<h2>Comments</h2>

<%if(isAuthenticated){ %>
    <form action="" id="comment-form">
        <textarea name="" id="comment-content" placeholder="add a comment"></textarea>
        <button type="submit">Submit</button>
    </form>
    <% }else {%>
    <p><a href="/login">Login to add a comment</a></p>
    <% } %>
<ul id="comments-list">
    <% comments.forEach(comment=>{%>
        <li><strong><%= comment.user.username %>:</strong><%= comment.content %></li>
        <%})%>
</ul>


    </article>
</main>  
<footer>
    <p>Made with love by Disha Sethi</p>
</footer>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
        <script>
                        
    const menuIcon=document.getElementById('menu-icon');

    const navLinks=document.getElementById('nav-links');
    const menuBackdrop = document.getElementById('menu-backdrop');
    menuIcon.addEventListener('click',()=>{
    navLinks.classList.toggle('active');
    menuBackdrop.classList.toggle('active');
    })

    menuBackdrop.addEventListener('click',()=>{
    navLinks.classList.remove('active');
    menuBackdrop.classList.remove('active');
    });

            function handleLogout(){
                fetch('/logout',{method:'POST'})
                  .then(response=>{
                    if(response.ok){
                        // console.log("logged out");
                       
                        // document.cookie = 'token=; Max-Age=0; path=/';
                        window.location.href='/';
                    }else{
                        console.log('Logout failed');
                    }
                  })
                  .catch(error=>{
                    console.log('Error:',error);
                  });
            }

            document.getElementById("logout-button").addEventListener('click',handleLogout);
      
      const socket=io();

      document.getElementById('comment-form').addEventListener('submit', async(e)=>{
        e.preventDefault();

        const commentContent=document.getElementById('comment-content').value;
        const blogId='<%= blog._id%>';
        const apiUrl = '<%= API_URL %>';;


        try{
            const response=await axios.post(`${apiUrl}/comments/${blogId}`,{
                content:commentContent
            },{withCredentials:true});

            // clear the comment form
            const comment =response.data.comment;
            console.log("comment is",comment);

            document.getElementById('comment-content').value='';

        }catch(error){
            console.error('Error submitting comment:',error);
        }
      });

      
     

socket.on('commentAdded',(comment)=>{
    if(comment.blogId==='<%= blog._id%>'){
        const commentList=document.getElementById('comments-list');
        const newCommentItem=document.createElement('li');
        newCommentItem.innerHTML=`<strong>${comment.user}:<strong>${comment.content}`;
            commentList.appendChild(newCommentItem);
    }
});
// socket.on('testEvent',(message)=>{
//     console.log('Received testEvent',message);
// })
    
      </script>
     


  
  
</body>
</html>

