<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home- Blog Platform</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Blog</a></li>
                <% if(isAuthenticated) {%>

                    <li><button id="logout-button">Logout</button></li>
                <%} else { %>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>

        <h1>Welcome to the blog platform</h1>
        <form method="get" id="searchForm" action="/">
            <input type="text" name="keyword" placeholder="Search by keyword">
            <input type="text" name="author" placeholder="Search by author">
            <input type="text" name="tags" placeholder="Search by tags">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <h2>Recent Blogs</h2>
        <ul id="blogList">
            <% blogs.forEach(blog =>{ %>
                <li>
                    <h3><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h3>
                    <p> By <%= blog.author.username %></p>
                    <p>Tags:
                        <% if(Array.isArray(blog.tags)&(blog.tags.length>0)){%>
                         <%= blog.tags.join(', ') %>
                         <%} else{%>
                            No tags available
                        <%}%>
                    </p>
                    <p><%= blog.content.substring(0,100) %>...</p>
                    <a href="/blogs/<%= blog._id %>">Read More </a>
                </li>
                <%}) %>
        </ul>
        <script>
            function handleLogout(){
                fetch('/logout',{method:'POST'})
                  .then(response=>{
                    if(response.ok){
                        // console.log("logged out");
                       
                        // document.cookie = 'token=; Max-Age=0; path=/';
                        window.location.href='/';
                    }else{
                        console.log('Logout failed');
                    }
                  })
                  .catch(error=>{
                    console.log('Error:',error);
                  });
            }

            document.getElementById("logout-button").addEventListener('click',handleLogout);
        </script>
    </main>

    <footer>
        <p>Made with love by Disha Sethi</p>
    </footer>

</body>
</html>