<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
    <link rel="stylesheet" href="/styles/home.css"> 
</head>
<body>
    <header>
        <nav>
         
                <div class="menu-icon" id="menu-icon">
                  &#9776; 
                  <!-- Unicode for hamburger menu-icon -->
                </div>
      
                <div class="menu-backdrop" id="menu-backdrop"></div>
      
            <ul id="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Blog</a></li>
                <li><button id="logout-button">Logout</button></li>
            </ul>
        </nav>
        <h1>Welcome, <%= username%> !</h1>
        <form id="search" method="get" id="searchForm" action="/">
            <input id="search-input" type="text" name="keyword" placeholder="Search by keyword, author, tags">
            <!-- <input type="text" name="author" placeholder="Search by author">
            <input type="text" name="tags" placeholder="Search by tags"> -->
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
  

        <section>
            <!-- <h2>Your Profile</h2> -->

            <!-- <p><%= username%></p> -->

        </section>

        <section>
            <h1>Your Blogs</h1>
            <ul id="blogList">
                <% blogs.forEach(blog=>{ %>
               <li>
                <h3><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h3>
                <!-- <p><%= blog.content.substring(0,100)%>...</p> -->
                <p><%= blog.content.substring(0,100) %>...</p>
                <a href="/blogs/<%= blog._id %>">Read More </a>
               </li>
             <% }); %>
            </ul>
        </section>

        <script>
                        
    const menuIcon=document.getElementById('menu-icon');

    const navLinks=document.getElementById('nav-links');
    const menuBackdrop = document.getElementById('menu-backdrop');
    menuIcon.addEventListener('click',()=>{
    navLinks.classList.toggle('active');
    menuBackdrop.classList.toggle('active');
    })

    menuBackdrop.addEventListener('click',()=>{
    navLinks.classList.remove('active');
    menuBackdrop.classList.remove('active');
    });
            function handleLogout(){
                fetch('/logout',{method:'POST'})
                  .then(response=>{
                    if(response.ok){
                        // console.log("logged out");
                       
                        // document.cookie = 'token=; Max-Age=0; path=/';
                        window.location.href='/';
                    }else{
                        console.log('Logout failed');
                    }
                  })
                  .catch(error=>{
                    console.log('Error:',error);
                  });
            }

            document.getElementById("logout-button").addEventListener('click',handleLogout);
        </script>
    </main>

    <footer>
        <!-- <p>Made with love from Disha Sethi</p> -->
    </footer>
</body>
</html>