<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create Blog</a></li>
                <li><button id="logout-button">Logout</button></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome, <%= username%> !</h1>

        <section>
            <h2>Your Profile</h2>

            <p><%= email%></p>

        </section>

        <section>
            <h2>Your Blogs</h2>
            <ul>
                <% blogs.forEach(blog=>{ %>
               <li>
                <h3><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h3>
                <p><%= blog.content.substring(0,100)%>...</p>
               </li>
             <% }); %>
            </ul>
        </section>

        <script>
            function handleLogout(){
                fetch('/logout',{method:'POST'})
                  .then(response=>{
                    if(response.ok){
                        // console.log("logged out");
                       
                        // document.cookie = 'token=; Max-Age=0; path=/';
                        window.location.href='/';
                    }else{
                        console.log('Logout failed');
                    }
                  })
                  .catch(error=>{
                    console.log('Error:',error);
                  });
            }

            document.getElementById("logout-button").addEventListener('click',handleLogout);
        </script>
    </main>

    <footer>
        <p>Made with love from Disha Sethi</p>
    </footer>
</body>
</html>